body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #111111;
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
	height: auto; /* crescerá de acordo com o tamanho da imagem. evita distorção das imagens. */
	display: block;
}

/* somente imagens do tipo '.jpg' */
img[src$=".jpg"] {
	border-radius: 4px;
}
